a {
  color: #303F9F;
}
a:hover, a:focus {
  color: #1e2864;
}

.button {
  background-color: #3F51B5;
}
.button:hover {
  background-color: #4d5ec1;
}

.cols-promo__title_advantages {
  border-bottom: 3px solid #C5CAE9;
}

.contact-card {
  background-color: #303F9F;
}

.social-buttons {
  border-top: 3px solid #E91E63;
  background-color: #C5CAE9;
}
.social-buttons__item:hover svg {
  fill: #7b86cd;
}

.button_call-to-act {
  background-color: #E91E63;
}
.button_call-to-act:hover {
  background-color: #eb3573;
}

.easy-header__logo a {
  color: #212121;
}
.easy-header__logo a span {
  color: #E91E63;
}

@media (min-width: 992px) {
  .navbar__nav a:before {
    background: #E91E63;
  }
}

.fs-present-display:after {
  background-color: #303F9F;
}

.button_fs-present-display {
  background-color: #E91E63;
}
.button_fs-present-display:hover {
  background-color: #ee4c83;
}

.gallery-isotope__filter a:hover {
  background-color: #E91E63;
}
.gallery-isotope__filter a.active {
  background-color: #E91E63;
}
.gallery-isotope__img:before {
  background-color: #303F9F;
}

.section_inv {
  background-color: #303F9F;
}
.section_bg:before {
  background-color: #303F9F;
}

.line-carousel .owl-page span {
  border: 1px solid #303F9F;
}
.line-carousel .owl-page.active span {
  background-color: #303F9F;
}

.reviews-carousel__img {
  border: 2px solid #E91E63;
}

.tabs_faq__li.active a:after {
  background-color: #E91E63;
}

.tabs_faq__li a {
  background-color: #303F9F;
}

.prices__title_accent {
  background-color: #303F9F;
  box-shadow: 0 0 0 1px #303F9F;
}

.timeline-vertical__row:hover .timeline-vertical__info:before {
  background-color: #3F51B5;
}
.timeline-vertical__info:before {
  background-color: #E91E63;
}
.timeline-vertical__date span {
  background-color: #303F9F;
}

.promo-list__icon {
  color: #E91E63;
}

.loader_el {
  background-color: #303F9F;
}

.article blockquote {
  border-left: 4px solid #303F9F;
}

.footer {
  background-color: #303F9F;
}

.gallery-box__inner:before {
  background-color: #303F9F;
}

.page-info__back a:hover {
  color: #ee4c83;
}