a {
  color: #455A64;
}
a:hover, a:focus {
  color: #263137;
}

.button {
  background-color: #607D8B;
}
.button:hover {
  background-color: #6b8a99;
}

.cols-promo__title_advantages {
  border-bottom: 3px solid #CFD8DC;
}

.contact-card {
  background-color: #455A64;
}

.social-buttons {
  border-top: 3px solid #4CAF50;
  background-color: #CFD8DC;
}
.social-buttons__item:hover svg {
  fill: #94a8b1;
}

.button_call-to-act {
  background-color: #4CAF50;
}
.button_call-to-act:hover {
  background-color: #5cb860;
}

.easy-header__logo a {
  color: #212121;
}
.easy-header__logo a span {
  color: #4CAF50;
}

@media (min-width: 992px) {
  .navbar__nav a:before {
    background: #4CAF50;
  }
}

.fs-present-display:after {
  background-color: #455A64;
}

.button_fs-present-display {
  background-color: #4CAF50;
}
.button_fs-present-display:hover {
  background-color: #6ec071;
}

.gallery-isotope__filter a:hover {
  background-color: #4CAF50;
}
.gallery-isotope__filter a.active {
  background-color: #4CAF50;
}
.gallery-isotope__img:before {
  background-color: #455A64;
}

.section_inv {
  background-color: #455A64;
}
.section_bg:before {
  background-color: #455A64;
}

.line-carousel .owl-page span {
  border: 1px solid #455A64;
}
.line-carousel .owl-page.active span {
  background-color: #455A64;
}

.reviews-carousel__img {
  border: 2px solid #4CAF50;
}

.tabs_faq__li.active a:after {
  background-color: #4CAF50;
}

.tabs_faq__li a {
  background-color: #455A64;
}

.prices__title_accent {
  background-color: #455A64;
  box-shadow: 0 0 0 1px #455A64;
}

.timeline-vertical__row:hover .timeline-vertical__info:before {
  background-color: #607D8B;
}
.timeline-vertical__info:before {
  background-color: #4CAF50;
}
.timeline-vertical__date span {
  background-color: #455A64;
}

.promo-list__icon {
  color: #4CAF50;
}

.loader_el {
  background-color: #455A64;
}

.article blockquote {
  border-left: 4px solid #455A64;
}

.footer {
  background-color: #455A64;
}

.gallery-box__inner:before {
  background-color: #455A64;
}

.page-info__back a:hover {
  color: #6ec071;
}