a {
  color: #7B1FA2;
}
a:hover, a:focus {
  color: #4a1362;
}

.button {
  background-color: #9C27B0;
}
.button:hover {
  background-color: #af2cc5;
}

.cols-promo__title_advantages {
  border-bottom: 3px solid #E1BEE7;
}

.contact-card {
  background-color: #7B1FA2;
}

.social-buttons {
  border-top: 3px solid #FFC107;
  background-color: #E1BEE7;
}
.social-buttons__item:hover svg {
  fill: #bf74cb;
}

.button_call-to-act {
  background-color: #FFC107;
}
.button_call-to-act:hover {
  background-color: #ffc721;
}

.easy-header__logo a {
  color: #212121;
}
.easy-header__logo a span {
  color: #FFC107;
}

@media (min-width: 992px) {
  .navbar__nav a:before {
    background: #FFC107;
  }
}

.fs-present-display:after {
  background-color: #7B1FA2;
}

.button_fs-present-display {
  background-color: #FFC107;
}
.button_fs-present-display:hover {
  background-color: #ffce3a;
}

.gallery-isotope__filter a:hover {
  background-color: #FFC107;
}
.gallery-isotope__filter a.active {
  background-color: #FFC107;
}
.gallery-isotope__img:before {
  background-color: #7B1FA2;
}

.section_inv {
  background-color: #7B1FA2;
}
.section_bg:before {
  background-color: #7B1FA2;
}

.line-carousel .owl-page span {
  border: 1px solid #7B1FA2;
}
.line-carousel .owl-page.active span {
  background-color: #7B1FA2;
}

.reviews-carousel__img {
  border: 2px solid #FFC107;
}

.tabs_faq__li.active a:after {
  background-color: #FFC107;
}

.tabs_faq__li a {
  background-color: #7B1FA2;
}

.prices__title_accent {
  background-color: #7B1FA2;
  box-shadow: 0 0 0 1px #7B1FA2;
}

.timeline-vertical__row:hover .timeline-vertical__info:before {
  background-color: #9C27B0;
}
.timeline-vertical__info:before {
  background-color: #FFC107;
}
.timeline-vertical__date span {
  background-color: #7B1FA2;
}

.promo-list__icon {
  color: #FFC107;
}

.loader_el {
  background-color: #7B1FA2;
}

.article blockquote {
  border-left: 4px solid #7B1FA2;
}

.footer {
  background-color: #7B1FA2;
}

.gallery-box__inner:before {
  background-color: #7B1FA2;
}

.page-info__back a:hover {
  color: #ffce3a;
}