a {
  color: #689F38;
}
a:hover, a:focus {
  color: #436624;
}

.button {
  background-color: #8BC34A;
}
.button:hover {
  background-color: #97c95d;
}

.cols-promo__title_advantages {
  border-bottom: 3px solid #DCEDC8;
}

.contact-card {
  background-color: #689F38;
}

.social-buttons {
  border-top: 3px solid #FF4081;
  background-color: #DCEDC8;
}
.social-buttons__item:hover svg {
  fill: #abd47b;
}

.button_call-to-act {
  background-color: #FF4081;
}
.button_call-to-act:hover {
  background-color: #ff5a92;
}

.easy-header__logo a {
  color: #212121;
}
.easy-header__logo a span {
  color: #FF4081;
}

@media (min-width: 992px) {
  .navbar__nav a:before {
    background: #FF4081;
  }
}

.fs-present-display:after {
  background-color: #689F38;
}

.button_fs-present-display {
  background-color: #FF4081;
}
.button_fs-present-display:hover {
  background-color: #ff73a3;
}

.gallery-isotope__filter a:hover {
  background-color: #FF4081;
}
.gallery-isotope__filter a.active {
  background-color: #FF4081;
}
.gallery-isotope__img:before {
  background-color: #689F38;
}

.section_inv {
  background-color: #689F38;
}
.section_bg:before {
  background-color: #689F38;
}

.line-carousel .owl-page span {
  border: 1px solid #689F38;
}
.line-carousel .owl-page.active span {
  background-color: #689F38;
}

.reviews-carousel__img {
  border: 2px solid #FF4081;
}

.tabs_faq__li.active a:after {
  background-color: #FF4081;
}

.tabs_faq__li a {
  background-color: #689F38;
}

.prices__title_accent {
  background-color: #689F38;
  box-shadow: 0 0 0 1px #689F38;
}

.timeline-vertical__row:hover .timeline-vertical__info:before {
  background-color: #8BC34A;
}
.timeline-vertical__info:before {
  background-color: #FF4081;
}
.timeline-vertical__date span {
  background-color: #689F38;
}

.promo-list__icon {
  color: #FF4081;
}

.loader_el {
  background-color: #689F38;
}

.article blockquote {
  border-left: 4px solid #689F38;
}

.footer {
  background-color: #689F38;
}

.gallery-box__inner:before {
  background-color: #689F38;
}

.page-info__back a:hover {
  color: #ff73a3;
}