@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);

.tfl__link-container:hover,
.tfl__link-container{
    text-decoration:none;
    display: inline-block;
}

.tfl__link:hover,
.tfl__link {
    border-bottom:1px dashed;
}

.tfl__link.tfl__link_order {
    font-weight: bold;
    line-height: 2;
}

.tfl-define-popup{
    position: absolute;
    width: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    background-color: #fff;
    z-index: 1001;

    transform: translateX(-50%);
    text-align: center;
    border-radius: 0.3em;
    -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
}

.tfl-define-popup:before{
    position: absolute;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    content: '';
    background-color: #fff;
    left: calc(50% - 5px);
    top: -5px;
}
.tfl-define-popup__text{
    padding: 1.5em 2em;
}

.tfl-define-popup__buttons{
    text-align: center;
    font-size: 0.85em;
    overflow: hidden;
}
.tfl-define-popup__button{
    width: 50%;
    display: block;
    padding: 1em 2em;
    float: left;

}

.tfl-define-popup__main{
    font-weight: bold;
}

.tfl-define-popup__second{
    background-color: #f5f5f5;
}

.tfl-popup{
    display: none;
    position: fixed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1001;
    width: 690px;
   /* height: 425px;*/
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.75em;
    -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
}

.tfl-popup:before {
    position: absolute;
    content: '';
    width: calc(100% - 3.5em);
    height: 25px;
    top: calc(100% - 1.75em);
    margin-top: -24px;
    background: url(img/shadow.png) repeat-x bottom;
    z-index: 1;
}

.tfl-popup.tfl-popup_loading {
    background:url(img/loading.gif) center center no-repeat #ffffff;
}

.tfl-popup__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0 0 0.75em;
    padding: 0;
    font-size: 1.75em;
    line-height: 1;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;
}

.tfl-popup__search-wrapper{
    position: relative;
    margin: 0 0 2em 0;
    padding: 0;
}

.tfl-popup .tfl-popup__search-input {
    background: #fff;
    -webkit-box-shadow: inset -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    inset -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         inset -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -khtml-border-radius: 0.3em;
    border-radius: 0.3em;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.15em;
    line-height: 1;
    padding: 0.5em 0.75em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.tfl-popup__search-input::-webkit-input-placeholder {color: #aaa;}
.tfl-popup__search-input::-moz-placeholder {color: #aaa;}
.tfl-popup__search-input:-ms-input-placeholder {color: #aaa;}
.tfl-popup__search-input:-moz-placeholder {color: #aaa;}

.tfl-popup__search-input:focus::-webkit-input-placeholder {color: #ccc;}
.tfl-popup__search-input:focus::-moz-placeholder {color: #ccc;}
.tfl-popup__search-input:focus:-ms-input-placeholder {color: #ccc;}
.tfl-popup__search-input:focus:-moz-placeholder {color: #ccc;}

.tfl-popup__clear-field {
    background: url("img/clear_field.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    position: absolute;
    right: 0.75em;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    display:none;
}

.tfl-popup__scroll-container,
.tfl-popup__default-locations-container,
.tfl-popup__locations-container{
    overflow: hidden;
    float: left;
    height: 270px;
}

.tfl-popup__default-locations-container{
    display: none;
    width: 33.3%;
}

.tfl-popup__with-defaults .tfl-popup__default-locations-container{
    display: block;
}

.tfl-popup__with-defaults .tfl-popup__locations-container{
    width: 66.6%;
}

.tfl-popup__default-locations {
    list-style: none;
    padding: 0 0.75em;
    width: 200px;
    float: left;
}

.tfl-popup__default-locations li {
    padding: 0;
    margin: 0 0 0.3em;
    position: relative;
}

.tfl-popup__default-locations li a {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #333;
}

.tfl-popup__default-locations li a:hover {
    text-decoration: none;
    border-bottom: 0;
}

.tfl-popup__locations {
    float: left;
    list-style: none outside none;
    margin: 0 0 1.25em 0;
    padding: 0 0.75em;
    -webkit-column-width: 180px;
    -moz-column-width: 180px;
    column-width: 180px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    -webkit-column-rule: 0px solid #ccc;
    -moz-column-rule: 0 solid #ccc;
    column-rule: 0px solid #ccc;
    /*-webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;*/
}

.tfl-popup__locations li {
    padding-bottom: 0.6em;
    overflow: hidden;
    list-style: none;
    page-break-inside: avoid;
    break-inside: avoid;
}

.tfl-popup__locations li:before,
.tfl-popup__locations li:after {
    content: none;
}

.tfl-popup__location-link {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dashed #777;
    font-family: 'Open Sans', sans-serif;
}

.tfl-popup__location-link:hover {
    border-bottom: 1px dashed #333;
}

.tf-location__region {
    display: block;
    font-size: 0.7em;
    color: #999;
    line-height: 1;
    margin-top: 0.3em;
}

.tfl-popup-overlay{
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('img/custom-popup-overlay.png') repeat;
    z-index: 1000;
}

.tfl-popup__close{
    display: block;
    position: absolute;
    cursor: pointer;
    opacity: 0.2;
}

.tfl-popup__close-big{
    right: 1.75em;
    top: 1.5em;
    width: 32px;
    height: 32px;
}

.tfl-popup__close-small{
    right: 0.5em;
    top: 0.5em;
    width: 16px;
    height: 16px;
}

.tfl-popup__close:hover {
    opacity: 0.5;
}

.tfl-popup__close:before,
.tfl-popup__close:after {
    position: absolute;
    content: '';
    width: 2px;
    background-color: #333;
}

.tfl-popup__close-big:before,
.tfl-popup__close-big:after {
    height: 33px;
    left: 15px;
}

.tfl-popup__close-small:before,
.tfl-popup__close-small:after{
    height: 17px;
    left: 7px;
}

.tfl-popup__close:before {
    transform: rotate(45deg);
}

.tfl-popup__close:after {
    transform: rotate(-45deg);
}

.tfl-body-freeze{
    overflow: hidden;
}

.tfl-body-blur {
  /*  -webkit-filter:blur(0.2em);
    -ms-filter:blur(0.2em);
    -moz-filter:blur(0.2em);
    -o-filter:blur(0.2em);
    filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='3'/></filter></svg>#blur");*/
    -webkit-filter: blur(0.2em);
    -moz-filter: blur(0.2em);
    -o-filter: blur(0.2em);
    -ms-filter: blur(0.2em);
    filter: blur(0.2em);
}

@media screen and (max-width: 767px)
{
    .tfl-popup {
        width: 90%;
        height: 90%;
    }

    .tfl-popup__default-locations {
        width: auto;
        float: none;
        margin-left: 0;
        margin-bottom: 1em;
    }

    .tfl-popup__locations-container {
        float: none;
        height: calc(100% - 110px);
    }

    .tfl-popup__with-defaults .tfl-popup__locations-container,
    .tfl-popup__default-locations-container{
        width: 100%;
    }

    .tfl-popup__with-defaults .tfl-popup__default-locations-container{
        margin-bottom: 30px;
        height: auto;
    }

    .tfl-popup__with-defaults .tfl-popup__default-locations-container{
        height: 30%;
    }

    .tfl-popup__with-defaults .tfl-popup__locations-container{
        height: calc(70% - 150px);
    }

    .tfl-popup__default-locations-container .tfl-popup__scroll-container,
    .tfl-popup__locations-container .tfl-popup__scroll-container{
        height: 100%;
    }

    .tfl-popup .tfl-popup__search-input {
        max-width: none;
        width: 100%;
    }

    .tfl-popup__locations {
        width: 100%;
    }

    /** there is some bug in js with overriding this class */
    .slimScrollDiv {
        height: 100%;
    }
}
