a {
  color: #512DA8;
}
a:hover, a:focus {
  color: #341d6c;
}

.button {
  background-color: #673AB7;
}
.button:hover {
  background-color: #7446c4;
}

.cols-promo__title_advantages {
  border-bottom: 3px solid #D1C4E9;
}

.contact-card {
  background-color: #512DA8;
}

.social-buttons {
  border-top: 3px solid #FF5722;
  background-color: #D1C4E9;
}
.social-buttons__item:hover svg {
  fill: #977acd;
}

.button_call-to-act {
  background-color: #FF5722;
}
.button_call-to-act:hover {
  background-color: #ff6a3c;
}

.easy-header__logo a {
  color: #212121;
}
.easy-header__logo a span {
  color: #FF5722;
}

@media (min-width: 992px) {
  .navbar__nav a:before {
    background: #FF5722;
  }
}

.fs-present-display:after {
  background-color: #512DA8;
}

.button_fs-present-display {
  background-color: #FF5722;
}
.button_fs-present-display:hover {
  background-color: #ff7e55;
}

.gallery-isotope__filter a:hover {
  background-color: #FF5722;
}
.gallery-isotope__filter a.active {
  background-color: #FF5722;
}
.gallery-isotope__img:before {
  background-color: #512DA8;
}

.section_inv {
  background-color: #512DA8;
}
.section_bg:before {
  background-color: #512DA8;
}

.line-carousel .owl-page span {
  border: 1px solid #512DA8;
}
.line-carousel .owl-page.active span {
  background-color: #512DA8;
}

.reviews-carousel__img {
  border: 2px solid #FF5722;
}

.tabs_faq__li.active a:after {
  background-color: #FF5722;
}

.tabs_faq__li a {
  background-color: #512DA8;
}

.prices__title_accent {
  background-color: #512DA8;
  box-shadow: 0 0 0 1px #512DA8;
}

.timeline-vertical__row:hover .timeline-vertical__info:before {
  background-color: #673AB7;
}
.timeline-vertical__info:before {
  background-color: #FF5722;
}
.timeline-vertical__date span {
  background-color: #512DA8;
}

.promo-list__icon {
  color: #FF5722;
}

.loader_el {
  background-color: #512DA8;
}

.article blockquote {
  border-left: 4px solid #512DA8;
}

.footer {
  background-color: #512DA8;
}

.gallery-box__inner:before {
  background-color: #512DA8;
}

.page-info__back a:hover {
  color: #ff7e55;
}