a {
  color: #E64A19;
}
a:hover, a:focus {
  color: #a13411;
}

.button {
  background-color: #FF5722;
}
.button:hover {
  background-color: #ff6a3c;
}

.cols-promo__title_advantages {
  border-bottom: 3px solid #FFCCBC;
}

.contact-card {
  background-color: #E64A19;
}

.social-buttons {
  border-top: 3px solid #7C4DFF;
  background-color: #FFCCBC;
}
.social-buttons__item:hover svg {
  fill: #ff7e56;
}

.button_call-to-act {
  background-color: #7C4DFF;
}
.button_call-to-act:hover {
  background-color: #8f66ff;
}

.easy-header__logo a {
  color: #212121;
}
.easy-header__logo a span {
  color: #7C4DFF;
}

@media (min-width: 992px) {
  .navbar__nav a:before {
    background: #7C4DFF;
  }
}

.fs-present-display:after {
  background-color: #E64A19;
}

.button_fs-present-display {
  background-color: #7C4DFF;
}
.button_fs-present-display:hover {
  background-color: #a280ff;
}

.gallery-isotope__filter a:hover {
  background-color: #7C4DFF;
}
.gallery-isotope__filter a.active {
  background-color: #7C4DFF;
}
.gallery-isotope__img:before {
  background-color: #E64A19;
}

.section_inv {
  background-color: #E64A19;
}
.section_bg:before {
  background-color: #E64A19;
}

.line-carousel .owl-page span {
  border: 1px solid #E64A19;
}
.line-carousel .owl-page.active span {
  background-color: #E64A19;
}

.reviews-carousel__img {
  border: 2px solid #7C4DFF;
}

.tabs_faq__li.active a:after {
  background-color: #7C4DFF;
}

.tabs_faq__li a {
  background-color: #E64A19;
}

.prices__title_accent {
  background-color: #E64A19;
  box-shadow: 0 0 0 1px #E64A19;
}

.timeline-vertical__row:hover .timeline-vertical__info:before {
  background-color: #FF5722;
}
.timeline-vertical__info:before {
  background-color: #7C4DFF;
}
.timeline-vertical__date span {
  background-color: #E64A19;
}

.promo-list__icon {
  color: #7C4DFF;
}

.loader_el {
  background-color: #E64A19;
}

.article blockquote {
  border-left: 4px solid #E64A19;
}

.footer {
  background-color: #E64A19;
}

.gallery-box__inner:before {
  background-color: #E64A19;
}

.page-info__back a:hover {
  color: #a280ff;
}