a {
  color: #C2185B;
}
a:hover, a:focus {
  color: #7e103b;
}

.button {
  background-color: #E91E63;
}
.button:hover {
  background-color: #eb3573;
}

.cols-promo__title_advantages {
  border-bottom: 3px solid #F8BBD0;
}

.contact-card {
  background-color: #C2185B;
}

.social-buttons {
  border-top: 3px solid #009688;
  background-color: #F8BBD0;
}
.social-buttons__item:hover svg {
  fill: #ee5f90;
}

.button_call-to-act {
  background-color: #009688;
}
.button_call-to-act:hover {
  background-color: #00b09f;
}

.easy-header__logo a {
  color: #212121;
}
.easy-header__logo a span {
  color: #009688;
}

@media (min-width: 992px) {
  .navbar__nav a:before {
    background: #009688;
  }
}

.fs-present-display:after {
  background-color: #C2185B;
}

.button_fs-present-display {
  background-color: #009688;
}
.button_fs-present-display:hover {
  background-color: #00c9b6;
}

.gallery-isotope__filter a:hover {
  background-color: #009688;
}
.gallery-isotope__filter a.active {
  background-color: #009688;
}
.gallery-isotope__img:before {
  background-color: #C2185B;
}

.section_inv {
  background-color: #C2185B;
}
.section_bg:before {
  background-color: #C2185B;
}

.line-carousel .owl-page span {
  border: 1px solid #C2185B;
}
.line-carousel .owl-page.active span {
  background-color: #C2185B;
}

.reviews-carousel__img {
  border: 2px solid #009688;
}

.tabs_faq__li.active a:after {
  background-color: #009688;
}

.tabs_faq__li a {
  background-color: #C2185B;
}

.prices__title_accent {
  background-color: #C2185B;
  box-shadow: 0 0 0 1px #C2185B;
}

.timeline-vertical__row:hover .timeline-vertical__info:before {
  background-color: #E91E63;
}
.timeline-vertical__info:before {
  background-color: #009688;
}
.timeline-vertical__date span {
  background-color: #C2185B;
}

.promo-list__icon {
  color: #009688;
}

.loader_el {
  background-color: #C2185B;
}

.article blockquote {
  border-left: 4px solid #C2185B;
}

.footer {
  background-color: #C2185B;
}

.gallery-box__inner:before {
  background-color: #C2185B;
}

.page-info__back a:hover {
  color: #00c9b6;
}